<!DOCTYPE HTML>
<html lang="en">
<!-- as basic sample for folder listing, when user set the folder listor to:
     user-index
     2015 0826
-->

<head>
<meta http-equiv="content-type" content="text/html" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="index, goodagood testing" />
<meta name="keywords" content="goodagood, filesystem, sharing" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Andrew">

<title> 
    test user index html
</title>

<!--
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-glyphicons.css">
<link rel="stylesheet" href="/static/css/ls-anyway.css">
-->


<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/skeleton.css">

<link rel="stylesheet" href="/static/css/fa/css/font-awesome.min.css">

<style type="text/css">

  html, body, .container {
      height: 100%;
  }
  body{
    margin:0;
    text-align:center;
  }

  body{
    border-top: 5px solid #566d7e;
  }

  div.container { 
    text-align:left;
    padding-top:0.5rem;
  }

  div#body-content{
    min-height: 80%;
    min-height: 80%;
  }


  div#file_list {
    position:relative;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    min-height: 200px; /* how to set percentage? */


    background-color: #e5e4e3;
    border-radius: 4px;
  }

  div.cwd {
    padding-left:1rem;
    display:inline;
  }

  footer {
    color: #665;
    font-size: 1.1em;
    text-align: center;
    background-color: #eee;
  }



  .logo{
    display: inline-block;
    height: 38px;
    background-color: #566d7e;
    padding: 0 30px;
    color: #eee;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
  }

  header {
    background-color: #eee;
    padding: 10px;
  }
  header .button{
    float:right;
  }

  div#tools_buttons {
    text-align: center;
  }
  nav {
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    float:left;
  }

  li.file span.filename {
    display: inline-block;
  }
  li.file span.filesize {
    padding-left: 2em;
  }

  span.filename,
  span.filesize, span.filetype {
    display: inline-block;
    min-width: 50px;}
  span.filename {min-width: 7em;}
 

</style>

</head>



<body>

<div class="container">
  <div id="header_div">
    <header>
      <span class="goodogood logo">goodogood</span>
      <a href="#primary_nav" class="button"><i class="fa fa-bars"></i> Tool</a>
      <a href="#tools_buttons" class="button"><i class="fa fa-bars"></i> Menu</a>
    </header>
  </div>

  <div class="row" id="body-content">


    <!-- cwd -->
    <div id="cwd"> <span class="prompt">CWD=&gt;</span>
        <div class="cwd">
        
            <a href="/ls/abc" class="root-dir listor-href">
                abc <i class="fa fa-home"></i>
            </a>
            <span class="folder-sperator">/</span>


            <a href="/ls/abc/test" class="ls-folder listor-href">
                test
            </a>
            <span class="folder-sperator">/</span>


        </div>
    </div>

    <!-- the file list -->
    <div id="file_list" class="tree">
      <p>
        Here we got file listing.
        <div class="place-holder">
          Owner of the folder control who can see what. :-)
        </div>
      </p>
    </div>


    <!-- page tools -->
    <!-- for buttons, float to left for wider screen, to top for extra small screen -->
    <div id="tools_buttons" class="translate-this clr show-right-border">


          <a  class="button btn-default" href="/upfile/abc/test/tindex">
              <span class="glyphicon glyphicon-cloud-upload"> </span>
              <span data-i18n="nav.upload">Upload</span></a> 

          <a  class="button btn-default"  href="/add-folder/abc/test/tindex"> 
              <span class="glyphicon glyphicon-plus"> </span>
              <span data-i18n="nav.add_folder">Add-folder</span></a> 

          <a  class="button btn-default" href="/msgto/">
              <span class="glyphicon glyphicon-comment"> </span>
              <span data-i18n="nav.message">Message</span></a> 

          <a  class="button btn-default"  href="/write-notes/abc/test/tindex"> 
              <i class="fa fa-pencil"></i>
              <span data-i18n="nav.tools">Notes</span></a> 

          <a  class="button btn-default"  href="/link/a?cwd=abc%2Ftest%2Ftindex"> 
              <i class="fa fa-link"></i>
              <span data-i18n="nav.mark-link">MarkLink</span></a> 

          <a  class="button btn-default"  href="/folder-tools/abc/test/tindex"> 
              <span class="glyphicon glyphicon-cog"> </span>
              <span data-i18n="nav.tools">Tools</span></a> 

    </div>

    <nav id="primary_nav">
        <a href="/people" class="button button-primary">
          <i class="fa fa-user"> </i>
          <span data-i18n="nav.people">People</span></a>

        <a href="/ls/" class="button button-primary">
          <i class="fa fa-folder-o"> </i>
          <span data-i18n="nav.file">Files</span></a>

        <a href="/msgto/" class="button button-primary">
          <i class="fa fa-comment-o"> </i>
          <span data-i18n="nav.message">Message</span>
        </a>

        <a href="#header_div" class="button button-primary">
          <i class="fa fa-arrow-up"></i>
          Go Top </a>
    </nav>

  </div> <!-- end of body content -->


  <footer>
      <div class="row-fluid goodagood-footer">
          <p class="text-center"> goodagood, Andrew &reg; &copy;  <p>
      </div>
  </footer>


</div> <!-- end of container -->

<!--
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/static/js/jquery.inspect.js"></script>

min version:
<script src="/static/bower_components/jquery/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/underscore/underscore-min.js"></script>
<script src="/static/backbone/backbone-min.js"></script>

<script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
-->
<script src="/static/js/i18next-1.7.3.js"></script>


<script src="/static/bower_components/jquery/jquery.js"></script>

<script src="/static/bower_components/underscore/underscore.js"></script>
<!-- put underscore.js before backbone!! -->
<script src="/static/bower_components/backbone/backbone.js"></script>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
-->

<!--[if lt IE 9]>
<script src="/static/bower_components/html5shiv/dist/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->



<script>
var CWD = "abc/test";

function post_for_file_meta_list(jquery){
  var $ = jquery;
  var cwd = CWD;

  //  Change the url after testing
  //var post_url = 'http://54.178.71.88/client/post-for-file-meta-list';
  var post_url = '/client/post-for-file-meta-list';

  //var url = url_prefix + cwd;

  var ajax_data = {cwd:cwd, };

  var param = {url:post_url, type:'POST', data: ajax_data, dataType:'json'};

  console.log("going to do ajax: ", param);
  $.ajax(param).done(function(j, status, jqXHR){
    console.log('what j what: ', j.what);
    console.log('keys of  j : ', _.keys(j));

    // global variable for testing
    jresult = j;

    //render($, j.meta_list[0]);
    var ul = mk_ul($, j.meta_list);
    $("div#file_list").html(ul);
  }).fail(function(jqXHR, tstatus, thrown){
    console.log('got failed:', tstatus, thrown);
  });;
}


function render($, data){
  var string = $("script#file-li-template-0827").html();
  tstr = string; // for testing

  var tpl = _.template(string);
  var context = {filename:"", filesize:"", filetype:"", path_uuid:""};
  context.filename = data.name;
  context.filetype = data.type || 'type?';
  context.filesize = data.size || 'size?';
  context.path_uuid= data.path_uuid;

  var htmlstr = tpl(context);

  console.log(htmlstr);
  return htmlstr;
}

function mk_ul($, list){
  var htags = _.map(list, function(file_meta){
      return render($, file_meta);
  });

  var ul = '<ul id="file-list-ul">';
  ul += htags.join("\n");
  ul += '</ul>';

  console.log('mk ul: ', ul);

  return ul;
}


$( document ).ready(function() {

    //i18n.init(function(t){
    //  $(".translate-this").i18n();
    //});

    var folder_path = "abc/test/tindex";

    //  Change the url after testing
    var url_prefix = 'http://54.178.71.88/client/get-file-meta-list/';

    var url = url_prefix + folder_path;




    post_for_file_meta_list($);
    console.log('end of the script'); // Means browser parsed here.
});
</script>



<!--% if(typeof template !== 'undefined' && template) print(template); %-->
<!-- For muji listing client -->

<!-- omit 'li' tag?
    <span class="thumb">
        <img src="/ss/.gg.file/abc/imgvid/0cef0507-ea52-4cd9-95a8-d7a037d1e341.thumbnail" 
        alt="gc-550-4.jpg"  />
    </span>
    <div class="selector"><label class="file-selector">
        <input type="checkbox" name="filepath[]" value="abc/imgvid/0cef0507-ea52-4cd9-95a8-d7a037d1e341" />
        <span class="filename">gc-550-4.jpg</span>
        <span class="filename">gc-550-4.jpg</span>
    </div>
    <div class="download">
        <a href="/ss/.gg.file/abc/imgvid/0cef0507-ea52-4cd9-95a8-d7a037d1e341">
            <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="what">
        <span class="delete">
            <a href="/del/abc/imgvid/0cef0507-ea52-4cd9-95a8-d7a037d1e341">
                <span class="glyphicon glyphicon-remove"></span>Delete
            </a>
        </span>
        <span class="value"> 0
            <i class="fa fa-cog"></i>
        </span>
    </div>
-->


<script type="text/template" id="file-template">
    <span class="thumb">
      <!-- <a href="image viewer"> ... </a> -->
      <img src="/ss/<%= thumb_key %>" width="<%= thumb_width %>" height="<%= thumb_height %>"
      alt="<%= name %>"  />
    </span>
    <div class="selector"><label class="file-selector">
      <input type="checkbox" name="filepath[]" value="<%= path_uuid %>" />
      <span class="filename"><%= name %></span>
    </div>
    <div class="download">
      <a href="/ss/<%= file_key %>"> <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
      <span class="delete">
          <a href="/del/<%= path_uuid %>">
              <span class="glyphicon glyphicon-remove"></span>Delete
          </a>
      </span>
    </div>
    <div class="value">
      <span class="value"><%= value %> 
          <i class="fa fa-cog"></i>
      </span>
    </div>
</script>


<script type="text/template" id="file-li-template-0827">
  <li class="file">
      <span class="filename"> 
        <a class="fileinfo-link" href="/fileinfo-pathuuid/<%=path_uuid%>">
            <%= filename %>
        </a>
      </span>

      <span class="filesize"> <%= filesize %> </span>
      <span class="filetype"> <%= filetype %> </span>
  </li>
</script>


<script type="text/template" id="item-template-old">
  <div class="view">
    <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
    <label><%- title %></label>
    <a class="destroy">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </a>
  </div>
  <input class="edit" type="text" value="<%- title %>" />
</script>

<script type="text/template" id="stats-template">
  <% if (done) { %>
    <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
  <% } %>
  <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
</script>



<!-- end of template -->



</body>
<!-- vim: et ts=2 sw=2 tw=150
-->
</html>
