

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*begin our styles*/

body {
    background-color: #becae3;
    font: 16px/1em 'PT Sans', sans-serif;
    color: #333333;

    text-align: center;
}

p, ul { margin: 0 0 1em; }


h1, h2, h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

h1 {
    font-size: 2em;
    line-height: 1.4em;
    margin: 0 0 .3em;
}
h2 {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0 0 .2em;
}

.clr { clear:both; }

div#wrapper {
  position: relative;
  margin: 5px auto;
  width: 90%;
  text-align: left;
}

form { margin: 1em 0.5em 1em; padding: 0 1em; }

form div.igroup {
  display:block;
  /*width: 90%;*/
  font-family: "Lucida Sans Typewriter", "Courier New", "Sans Serif";
  font-size: 1em;
  font-weight: bold;

}

form div.igroup:before,
form div.igroup:after {
  /* */
    content: "";
    display: table;
    clear:both;
}



/* easy in hand hold */
form div.igroup input{
  font-size: 1.4em;
  line-height: 1.6em;
  max-width: 85%;
}

/* in small media, use text input for password */
form div#text-password-div {
  display:block;
}
form div#normal-password-div {
  display:none;
}

/* confine lable ? */
form label{
    display: inline-block;
    clear: left;
    float: left;
    overflow: hidden;
    width: 33.3%;
    min-width: 180px;
    padding: 0.5em;
    text-align: right;
}
form input{
    display: inline-block;
    float:left;
    min-width:260px;
}

/* other login methods */

div#other-id {
    width: 90%
    margin: 1em auto;
    padding: 1em 1em;
}

#other-id .btn {

    background: grey; /* #3498db;*/
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    font-size: 0.9em;
    margin: 1px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

#other-id .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

 
/*header*/
 
header {
    background: #dcdee3;
    font-weight: bold;
    padding: 0 0.5em;
}
 
        /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
        header:before,
        header:after {
            content:" ";
            display:table;
        }
         
        header:after {
            clear:both;
        }
         
        /* For IE 6/7 (trigger hasLayout) */
        header {
            zoom:1;
        }

header h1 {
    width: 50%;
    display: inline-block;
}
 
header h1 a {
    text-decoration: none;
    color: #000f29;
    font-family: "Courier New", "Arial Rounded MT Bold", Serif, monospace;
}

header h1 a:hover  {
    color : #9fc;
    /*
    #000f29;
    font-size: 1.2em;
    line-height: 1.5em;

    */
    font-family: Helvetica, "Sans Serif", "Times New Roman", monospace;

    background-color: #6e798c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

header h2 {
    float: right;
    text-decoration: none;
}

/*footer*/
 
footer {
    color: #000;
    font-family: 'PT Serif', serif;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    background-color: #dcdee3;

    padding-top: 10px;

    border-radius: 5px;
}


@media only screen and (min-width: 768px) {


  /* easy in hand hold */
  form div.igroup input{
      font-size: 1em;
      line-height: 1.2em;
      max-width: 85%;
  }


  /* show normal passwd input, hide the other */
  form div#normal-password-div  {
      display:block;
  }
  form div#text-password-div {
      display:none;
  }

  form div#pass-wd label#show-pass {
    display:none;
  }
  form div#pass-wd label#normal-pass {
    display:block;
  }

  span#hed-show,
  span#let-show { 
    display:none;
  }

  header {
    padding: 1em 1em;
  }

  a.to_nav {
    display: none;
  }

  .wrapper {
    position: relative;
    /*- width: 768px; -*/
    width: 960px;
    margin: auto;
  }

  #primary_nav {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
  }

  #primary_nav li {
    display: inline;
  }

  #primary_nav li a {
    float: left;
    border: none;
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  #primary_nav li.top {
    display: none;
  }

}


@media only screen and (max-width: 480px) {
  
header h1.logo  {
    color : #d8d8d8;
    font-size: 1.0em;
    line-height: 1.1em;
}

/* line by line for small screen */
form label{
    display: block;
    clear: left;
    float: left;

    overflow: hidden;
    padding: 0.5em;
    text-align: left;
}
form input{
    display: block;
    float:left;
}

}

