
#input-well {
    /*
    background-color: green;
    border: 3px solid black;
     * */
    background-color: white;
}
#input-well textarea {
    width : 90%;
    height: 3em;
}

#input-well ul {
    display:inline;
}

#message-to-info { padding-right:10px;}
