
// Normal         guifg=#f0f0f0 guibg=#252c31 
// guifg=NONE --> guifg=#f0f0f0
//               guibg=NONE --> guibg=#252c31

/* vim colorscheme */

.vc-Cursor {        color: #182227 ; background-color: #9ea7a6 ;}
.vc-Visual {        color: #f0f0f0 ; background-color: #3f4b52 ;}
.vc-CursorLine {    color: #f0f0f0 ; background-color: #2e373b ;}
.vc-CursorColumn {  color: #f0f0f0 ; background-color: #2e373b ;}
.vc-ColorColumn {   color: #f0f0f0 ; background-color: #2e373b ;}
.vc-LineNr {        color: #84898c ; background-color: #2a343a ;}
.vc-VertSplit {     color: #252c31 ; background-color: #252c31 ;}
.vc-MatchParen {    color: #dda790 ; background-color: #252c31 ;}
.vc-StatusLine {    color: #f0f0f0 ; background-color: #575e61 ;}
.vc-StatusLineNC {  color: #f0f0f0 ; background-color: #575e61 ;}
.vc-Pmenu {         color: #bcdbff ; background-color: #252c31 ;}
.vc-PmenuSel {      color: #f0f0f0 ; background-color: #3f4b52 ;}
.vc-IncSearch {     color: #182227 ; background-color: #8bb664 ;}
.vc-Search {        color: #f0f0f0 ; background-color: #252c31 ;}
.vc-Directory {     color: #3c98d9 ; background-color: #252c31 ;}
.vc-Folded {        color: #9a9a9a ; background-color: #182227 ;}
.vc-Normal {        color: #f0f0f0 ; background-color: #252c31 ;}
.vc-Boolean {       color: #3c98d9 ; background-color: #252c31 ;}
.vc-Character {     color: #3c98d9 ; background-color: #252c31 ;}
.vc-Comment {       color: #9a9a9a ; background-color: #252c31 ;}
.vc-Conditional {   color: #dda790 ; background-color: #252c31 ;}
.vc-Constant {      color: #3c98d9 ; background-color: #252c31 ;}
.vc-Define {        color: #dda790 ; background-color: #252c31 ;}
.vc-DiffAdd {       color: #f0f0f0 ; background-color: #43820d ;}
.vc-DiffDelete {    color: #880708 ; background-color: #252c31 ;}
.vc-DiffChange {    color: #f0f0f0 ; background-color: #1c3657 ;}
.vc-DiffText {      color: #f0f0f0 ; background-color: #204a87 ;}
.vc-ErrorMsg {      color: #f0f0f0 ; background-color: #252c31 ;}
.vc-WarningMsg {    color: #f0f0f0 ; background-color: #252c31 ;}
.vc-Float {         color: #3c98d9 ; background-color: #252c31 ;}
.vc-Function {      color: #bcdbff ; background-color: #252c31 ;}
.vc-Identifier {    color: #99cf50 ; background-color: #252c31 ;}
.vc-Keyword {       color: #dda790 ; background-color: #252c31 ;}
.vc-Label {         color: #8bb664 ; background-color: #252c31 ;}
.vc-NonText {       color: #414e58 ; background-color: #232c31 ;}
.vc-Number {        color: #3c98d9 ; background-color: #252c31 ;}
.vc-Operator {      color: #dda790 ; background-color: #252c31 ;}
.vc-PreProc {       color: #dda790 ; background-color: #252c31 ;}
.vc-Special {       color: #f0f0f0 ; background-color: #252c31 ;}
.vc-SpecialKey {    color: #414e58 ; background-color: #252c31 ;}
.vc-Statement {     color: #dda790 ; background-color: #252c31 ;}
.vc-StorageClass {  color: #99cf50 ; background-color: #252c31 ;}
.vc-String {        color: #8bb664 ; background-color: #252c31 ;}
.vc-Tag {           color: #bcdbff ; background-color: #252c31 ;}
.vc-Title {         color: #f0f0f0 ; background-color: #252c31 ;}
.vc-Todo {          color: #9a9a9a ; background-color: #252c31 ;}
.vc-Type {          color: #b5d8f6 ; background-color: #252c31 ;}
.vc-Underlined {    color: #f0f0f0 ; background-color: #252c31 ;}
.vc-rubyClass {     color: #dda790 ; background-color: #252c31 ;}
.vc-rubyFunction {  color: #bcdbff ; background-color: #252c31 ;}
.vc-rubySymbol {    color: #3c98d9 ; background-color: #252c31 ;}
.vc-rubyConstant {  color: #bfabcb ; background-color: #252c31 ;}
.vc-rubyInclude {   color: #dda790 ; background-color: #252c31 ;}
.vc-rubyRegexp {    color: #e9c062 ; background-color: #252c31 ;}
.vc-rubyEscape {    color: #3c98d9 ; background-color: #252c31 ;}
.vc-rubyControl {   color: #dda790 ; background-color: #252c31 ;}
.vc-rubyOperator {  color: #dda790 ; background-color: #252c31 ;}
.vc-rubyException { color: #dda790 ; background-color: #252c31 ;}
.vc-erubyComment {  color: #9a9a9a ; background-color: #252c31 ;}
.vc-htmlTag {       color: #89bdff ; background-color: #252c31 ;}
.vc-htmlEndTag {    color: #89bdff ; background-color: #252c31 ;}
.vc-htmlTagName {   color: #89bdff ; background-color: #252c31 ;}
.vc-htmlArg {       color: #89bdff ; background-color: #252c31 ;}
.vc-yamlKey {       color: #bcdbff ; background-color: #252c31 ;}
.vc-yamlAnchor {    color: #68a9eb ; background-color: #252c31 ;}
.vc-yamlAlias {     color: #68a9eb ; background-color: #252c31 ;}
.vc-cssURL {        color: #68a9eb ; background-color: #252c31 ;}
.vc-cssColor {      color: #3c98d9 ; background-color: #252c31 ;}
.vc-cssClassName {  color: #bcdbff ; background-color: #252c31 ;}
.vc-cssBraces {     color: #f0f0f0 ; background-color: #252c31 ;}
.vc-rubyStringDelimiter {   color: #8bb664 ; background-color: #252c31 ;}
.vc-rubyBlockParameter {    color: #68a9eb ; background-color: #252c31 ;}
.vc-rubyInstanceVariable {  color: #68a9eb ; background-color: #252c31 ;}
.vc-rubyGlobalVariable {    color: #68a9eb ; background-color: #252c31 ;}
.vc-rubyRegexpDelimiter {   color: #e9c062 ; background-color: #252c31 ;}
.vc-rubyClassVariable {     color: #68a9eb ; background-color: #252c31 ;}
.vc-rubyPseudoVariable {    color: #68a9eb ; background-color: #252c31 ;}
.vc-rubyRailsUserClass {    color: #bfabcb ; background-color: #252c31 ;}
.vc-rubyRailsARMethod {     color: #dad085 ; background-color: #252c31 ;}
.vc-rubyRailsRenderMethod { color: #dad085 ; background-color: #252c31 ;}
.vc-rubyRailsMethod {       color: #dad085 ; background-color: #252c31 ;}
.vc-erubyDelimiter {        color: #f0f0f0 ; background-color: #252c31 ;}
.vc-erubyRailsMethod {      color: #dad085 ; background-color: #252c31 ;}
.vc-htmlSpecialChar {       color: #3c98d9 ; background-color: #252c31 ;}
.vc-javaScriptFunction {    color: #99cf50 ; background-color: #252c31 ;}
.vc-javaScriptRailsFunction{color: #dad085 ; background-color: #252c31 ;}
.vc-javaScriptBraces {      color: #f0f0f0 ; background-color: #252c31 ;}
.vc-yamlDocumentHeader {    color: #8bb664 ; background-color: #252c31 ;}
.vc-cssFunctionName {       color: #dad085 ; background-color: #252c31 ;}
.vc-cssPseudoClassId {      color: #bcdbff ; background-color: #252c31 ;}
.vc-cssValueLength {        color: #3c98d9 ; background-color: #252c31 ;}
.vc-cssCommonAttr {         color: #a7cfa3 ; background-color: #252c31 ;}
.vc-rubyInterpolationDelimiter {   color: #f0f0f0 ; background-color: #252c31 ;}
.vc-rubyRailsARAssociationMethod { color: #dad085 ; background-color: #252c31 ;}
