
<li class="file"
data-path-uuid="<%= path_uuid %>"
data-path="<%= path %>" 
data-name="<%= name %>" 
data-value="<%= value %>" 
>

    <span class="thumb">
        <img src="/ss/<%= thumb_key %>" width="<%= thumb_width %>" height="<%= thumb_height %>"
        alt="<%= name %>"  />
    </span>
    <div class="selector"><label class="file-selector">
            <input type="checkbox" name="filepath[]" value="<%= path_uuid %>" />

            <span class="filename"><%= name %></span>
    </div>
    <div class="download">
        <a href="/ss/<%= file_key %>">
            <i class="fa fa-cloud-download"></i> Download</a>
    </div>
    <div class="del">
        <span class="delete">
            <a href="/del/<%= path_uuid %>">
                <span class="glyphicon glyphicon-remove"></span>Delete
            </a>
        </span>
    </div>
    <div class="value">
        <span class="value"><%= value %> 
            <i class="fa fa-cog"></i>
        </span>
    </div>
</li>
