<!DOCTYPE HTML>
<html lang="en">
<!-- as basic skeleton for underscore.js, 2014 0605 -->
<head>
<meta http-equiv="content-type" content="text/html" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="index, goodagood testing" />
<meta name="keywords" content="goodagood, filesystem, sharing" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Andrew">

<title> 
  <% if(typeof title !== 'undefined' && title){ print(title);}else{ print('goodagood frame a');} %>
</title>


<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/first.css">

<% if(typeof css !== 'undefined' && css) print(css); %>
<% if(typeof in_file_css !== 'undefined' && in_file_css) print(in_file_css); %>


</head>
<body>

  <div class="container">
  <% if(typeof header !== 'undefined' && header) print(header); %>
  <% if(typeof navbar !== 'undefined' && navbar) print(navbar); %>
  <% if(typeof body   !== 'undefined' && body) print(body); %>
  <% if(typeof footer !== 'undefined' && footer) print(footer); %>
  </div>



<!--
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/static/js/jquery.inspect.js"></script>
-->


<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/js/i18next-1.7.3.js"></script>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
-->

<!--[if lt IE 9]>
<script src="/static/bower_components/html5shiv/dist/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<% if(typeof script != 'undefined' && script) print(script); %>

</body>
<!-- vim: et ts=2 sw=2 tw=150
-->
</html>
