
<br class="space10px" />
<div class="container">
    <div class="row">
    <!-- for file list -->
        <div id="file-list-top"> 

            <section id="demonstration" role="main" class="span12">
            <p id="cwd"> <span>Current folder =&gt;</span><strong>
                <% if(typeof cwd_chain !== 'undefined' && cwd_chain) print(cwd_chain); %>
            </strong>
            </p>

            <div id="file_list" class="tree">
                <%= user_folder_ul %>
            </div>

            <div id="current_people"> 
                <span> Send file to: </span>
                <form id="current_people_form">
                    <% if(typeof current_people !== 'undefined' && current_people) print(current_people); %>
                </form>
            </div>
            </section>

        </div>
    </div>

    <!-- for buttons, float to left for wider screen, to top for extra small screen -->
    <div id="tools2" class="clr"> 

        <div id="tools_buttons" class="translate-this clr show-right-border">
            <!-- <div class="btn-group btn-group-sm btn-group-justified"> -->
            <!-- <div class="btn-group btn-group-sm btn-group-justified"> -->

            <a id="send_file"  class="btn btn-default"  href="">
            <span class="glyphicon glyphicon-send"> </span>
            <span data-i18n="nav.send_file">Send</span></a>

            <a  class="btn btn-default" href="/upfile/<%=cwd%>">
            <span class="glyphicon glyphicon-cloud-upload"> </span>
            <span data-i18n="nav.upload">Upload</span></a>

            <a  class="btn btn-default"  href="/add-folder/<%=cwd%>"> 
            <span class="glyphicon glyphicon-plus"> </span>
            <span data-i18n="nav.add_folder">Add-folder</span></a>

            <a  class="btn btn-default" href="/msgto/">
            <span class="glyphicon glyphicon-comment"> </span>
            <span data-i18n="nav.message">Message</span></a>

            <a  class="btn btn-default"  href="/tools/<%=cwd%>"> 
            <span class="glyphicon glyphicon-cog"> </span>
            <span data-i18n="nav.tools">Tools</span></a>
            <!--
            <button type="button" class="btn btn-default">Right</button>
            -->
        </div>
    </div>

    


</div>

<!-- <div class="row-fluid translate-this"> -->
<br class="space10px" />

<nav id="primary_nav">

    <ul class="nav navbar-nav">

        <li>
            <a href="/people">
            <i class="fa fa-user"> </i>
            <span data-i18n="nav.people">People</span></a>
        </li>

        <li class="active">
            <a href="/ls/">
            <i class="fa fa-folder-o"> </i>
            <span data-i18n="nav.file">Files</span></a>
        </li>
        <li>
            <a href="/msgto/">
            <i class="fa fa-comment-o"> </i>
            <span data-i18n="nav.message">Message</span>
            </a>
        </li>
        <li class="top"> 
            <a href="#header">
            <i class="fa fa-arrow-up"></i>
            Go Top </a>
        </li>

    </ul>


</nav>


